version: "3.8"

services:
  nginx:
    image: spa-nginx-image
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - db
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql
      - ./sqlfiles:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
  api:
    image: python-api
    build:
      context: .
      dockerfile: python.Dockerfile
    volumes:
      - ./postgres-test.py:/server/postgres-test.py 
    restart: always
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: db
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    depends_on:
      - db
    command: uvicorn postgres-test:app --proxy-headers --host 0.0.0.0 --port 8000

volumes:
  postgres-data:

